In [33]:
for i in list(range(2000, 3201)):
    if( i%7 == 0  and i%5!=0 ):
        print(i, end =",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [1]:
a = 10
a

10

In [2]:
a

10

In [3]:
type(a)

int

In [10]:
abhi = 'dskjfhskks'
abhi

'dskjfhskks'

In [11]:
type(abhi)

str

In [14]:
abhi.lower()

'dskjfhskks'

In [15]:
s = "I am a programmer"

In [16]:
type(s)

str

In [18]:
print(s[5])

a

In [19]:
print(s)

I am a programmer

In [20]:
id(s)

1447337379352

In [21]:
s[0:8]

'I am a p'

In [28]:
s[:: -1]

'remmargorp a ma I'

In [34]:
c = [1 ,'Hey']

In [35]:
type(c)

list

In [37]:
c

[1, 'Hey']

list

In [1]:
range(10)

range(0, 10)

In [2]:
#this can generate a dataset for us .
#useful in data parsing operation.
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(3 , 7 , 2))

[3, 5]

In [12]:
l = [3 , 4, 5 , 6 , 7 , 8  ,23 , 4 , 5]
for i in l:
    print(i)

3
4
5
6
7
8
23
4
5

In [21]:
m = []
for i in l:
     m.append(i+2)

In [22]:
m

[5, 6, 7, 10, 11, 12, 25, 6, 9]

In [23]:
input()

3

'3'

In [24]:
type(input())

123

str

In [25]:
#input is always going to insert a string. 
#do type casting

a = input()

123

In [26]:
type(a)

str

In [27]:
b = int(a)

In [28]:
type(a)

str

In [29]:
type(b)

int

In [30]:
b/10

12.3

In [34]:
firstName = input()[::-1]
lastName = input()[::-1]
print(firstName + ' '+ lastName)

Abhishek
Sheoran
kehsihbA naroehS

In [37]:
import math

d = 12;
r = d/2;
volume = (4*math.pi*r*r*r) / 3;
print(volume)

904.7786842338604

In [38]:
#task 2

In [49]:
s = input("Enter comma separated integers: ")
print ("Input string: ", s)

# conver to the list
list = s.split (",")
print ("list: ", list)

# convert each element as integers
li = []
for i in list:
	li.append(int(i))

# print list as integers
print ("list (li) : ", li)

Enter comma separated integers: 10,20,40,20,30
Input string:  10,20,40,20,30
list:  ['10', '20', '40', '20', '30']
list (li) :  [10, 20, 40, 20, 30]

In [59]:
for i in range(0, 4):
    for j in range(0, i + 1):
        print("* ", end="")
    print("\r")
for i in range(4, -1 , -1):
    for j in range(0, i + 1):
        print("* ", end="")
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [60]:
word = input()[::-1]
print(word)

AcadGild
dliGdacA

In [65]:
print("WE, THE PEOPLE OF INDIA,\n \t having solemnly resolved to constitute India into a SOVEREIGN,!\n \t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC\n \t\t and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
 	 having solemnly resolved to constitute India into a SOVEREIGN,!
 		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
 		 and to secure to all its citizens